
*
  margin 0
  padding 0
  outline none
  border none

a
  alink()
  transition: all 0.2s linear 0.0s

body
  background-image url('../img/home-background.jpg')
  background-size cover
  background-attachment fixed
  color main-font-color
  font-family 'Open Sans', Helvetica, Arial, Sans-Serif
  font-size basic-font-size

h1, h2, h3, h4, h5, h6
  margin 0

strong
  font-weight 700

.container
  size 100%
  max-width max-content-width
  margin 0 auto
  padding 0px 20px
  cf()

.responsive
    size 100% auto
