// jeet

jeet['gutter'] = 2
jeet['parent-first'] = false

// measures

max-content-width = 1140px

spacing = 20px
fill = 20px

// text sizes

basic-font-size = 14px

main-title-font-size = 21px
secondary-title-font-size = 18px

// colors

bluea-color = #00adee;
rgba-main-color = rgba(0,173,238,0.8)

main-color = bluea-color
secondary-color = darken(bluea-color, 20)

main-font-color = #848484
secondary-font-color = #9F9F9F

// rupture

rupture.scale = 0    240px  290px  320px  360px  480px  540px  640px  768px  850px  960px  1024px 1200px
//              └──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘
//                 1      2      3      4      5      6      7    8      9      10     11     12


