// jeet

jeet['gutter'] = 2
jeet['parent-first'] = false

// measures

max-content-width = 1140px

spacing = 20px
fill = 20px

// text sizes

basic-font-size = 14px

main-title-font-size = 21px
secondary-title-font-size = 18px

// colors

grayr-color = #8D8D8D;
grayb-color = #4F4F4F;

main-color = grayr-color
secondary-color = grayb-color

main-font-color = grayb-color
secondary-font-color = grayb-color

// rupture

rupture.scale = 0    240px  290px  320px  360px  480px  540px  640px  768px  850px  960px  1024px 1200px
//              └──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘
//                 1      2      3      4      5      6      7    8      9      10     11     12


