// header component

.header
  size 100% 60px
  position fixed
  z-index 1000
  border-bottom 1px solid #CCC
  transition background .5s

.header--scroll
  background overlay

.logo
  col(4/16)
  color white

.logo__title
  margin-top 4px
  background url('../img/logo-main.png')
  size 155px 50px

.logo__anchor
  ablock()

.footer
  size 100% auto
  text-align center
  background main-color
  color #FFF
  padding 5px 0

.malonebox__container
  position fixed !important
