
.menu
  col(12/16)

.menu__collapse
  +below(11)
    float right
    display inline-block
    font-size 40px
    color white
    padding-top 5px
    cursor pointer
  +above(12)
    display none

.menu__nav
  +below(11)
    absolute 60px false false 0px
    z-index 9999
    width 100%
    background main-color
    display none
  +above(12)
    padding 23px 0px 0px 0px
    display block
    float right

.menu__anchor
  alink()
  text-align center
  font-size 16px
  font-weight bold
  +below(11)
    display inline-block
    width 100%
    padding 15px 0px
    color white
    &.menu__anchor--active
      color white
    &:hover
      background-color darken(main-color, 10)
  +above(12)
    color white
    margin 0px 0px 0px 30px
    transition all 0.1s linear 0s
    position relative
    &:hover
      color main-color
