
.slideshow__slide
  size 100% 100vh
  background-size cover

.slideshow__head
  font-size 36px
  font-weight 100
  color #FFF
  text-align center
  size 100% auto
  display table-cell
  vertical-align middle

.slideshow__nav
  absolute false 0 5% 0
  size 100% auto
  z-index 9999
  margin 0 auto
  text-align center

.slideshow__bullet
  display inline-block
  size 30px
  border-radius 100px
  background alpha(#FFF, .2)
  border 2px solid #FFF
  margin 0 5px

.cycle-pager-active
  border 2px solid main-color
