// vertical-align component

.vertical-align
	display flex
	align-items center
	justify-content center
	min-height 50px

.vertical-align__item
	flex 1

.vertical-align__item--top
	align-self flex-start

.vertical-align__item--bottom
	align-self flex-end
