.page--contact
  min-height 100vh
  color white
  padding-bottom 0

.gmaps
  height 200px
  +above(8)
    height 400px

.contact__form
  width 100%
  padding 0 20px
  margin 0 auto
  padding-bottom 20px
  +above(8)
    width 80%
    padding-bottom 60px
  +above(10)
    width 40%

.form__item
  color main-font-color
  font-size 20px
  margin 10px 0
  padding 2px
  max-width 100%
  min-width 100%

.btn-box
  color main-color
  font-weight 300

.contact__label
  font-size 20px
  font-weight 300
