
.gallery
  background rgba-main-color

.gallery__head
  font-size 50px
  font-weight 100
  text-align center
  color #FFF
  padding 80px 0

.gallery__boxes
  background-color #000
  cf()

.gallery__box
  span(1/2)
  transition all 0.2s ease 0s

  +above(8)
    span(1/4)

  &:hover
    opacity 0.8

.gallery__img
  size 100% auto
  display block
