.page--home
  min-height 100vh
  background rgba(0,0,0,0.4)

.content--home
  size 100%
  min-height 100vh

.home-title
  color white
  text-align center
  padding-top 40vh
  font-weight 300
  font-size 40px
  +above(6)
    font-size 80px

.home-info
  text-align center
  color white
  font-size 20px
  letter-spacing 2px
  padding-top 40px
  +above(8)
    padding-top 100px
    font-size 24px
