.services
  background alpha(#000, .8)
  padding 80px 0

.services__head
  font-size 50px
  font-weight 100
  text-align center
  color #FFF
  padding 0 0 80px 0

.services__boxes
  cf()

.services__box
  col(12/12)
  padding 30px 30px
  color #FFF

  +above(4)
    col(6/12, cycle: 2)

  +above(8)
    col(4/12, uncycle: 2, cycle: 3)
    padding 0 30px

.services__title
  font-weight 100
  font-size 30px
  text-align center
  padding 20px 0

.services__description
  font-weight 400
  font-size 16px
  text-align center

.services__img
  size 100% false
  display block
  border-radius 200px
