	<section class="page about page--about color--white" id="about">

		<div class="content color--white">
			<h2 class="page__title">About us</h2>
			<div class="content content--cf content--about">
				<div class="content__block">

					<i class="fa fa-send-o block__icon"></i>

					<h3 class="block__title">Our Company</h3>

					<p class="block__description">Sed ut perspiciatis unde omnis iste.
					</p>

				</div>

				<div class="content__block">

					<i class="fa fa-clock-o block__icon"></i>

					<h3 class="block__title">Time</h3>

					<p class="block__description">Natus error sit voluptatem accusantium doloremque laudantium.
					</p>

				</div>

				<div class="content__block">

					<i class="fa fa-coffee block__icon"></i>

					<h3 class="block__title">Coffee</h3>

					<p class="block__description">Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
					</p>

				</div>

				<div class="content__block">

					<i class="fa fa-money block__icon"></i>

					<h3 class="block__title">Money</h3>

					<p class="block__description">Et quasi architecto beatae vitae dicta sunt explicabo.
					</p>

				</div>
			</div>
		</div>

	</section>
