	<section class="about" id="about">

			<h3 class="about__head">About us</h3>

			<div class="about__boxes content">

				<div class="about__box">

					<i class="about__icon fa fa-send-o"></i>

					<h3 class="about__title">Our Company</h3>

					<div class="about__description">
						<p>Sed ut perspiciatis unde omnis iste.</p>
					</div>

				</div>

				<div class="about__box">

					<i class="about__icon fa fa-clock-o"></i>

					<h3 class="about__title">Time</h3>

					<div class="about__description">
						<p>Natus error sit voluptatem accusantium doloremque laudantium.</p>
					</div>

				</div>

				<div class="about__box">

					<i class="about__icon fa fa-coffee"></i>

					<h3 class="about__title">Coffee</h3>

					<div class="about__description">
						<p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
					</div>

				</div>

				<div class="about__box">

					<i class="about__icon fa fa-money"></i>

					<h3 class="about__title">Money</h3>

					<div class="about__description">
						<p>Et quasi architecto beatae vitae dicta sunt explicabo.</p>
					</div>

				</div>
			</div>

	</section>
