	<section class="page contact page--contact page--main-color" id="contact">
		<h2 class="page__title title--white">Contact</h2>

		<div class="content">

			<div class="content__form">
				<form class="contact__form" action="http://espacopedraverde.com.br/form_submit.php" method="POST">
					<label class="contact__label" for="name">Name</label>
					<input class="form__item" type="text" name="your_name" id="name">
					<label class="contact__label" for="email">Email</label>
					<input class="form__item" type="email" name="your_email" id="email">
					<label class="contact__label" for="message">Message</label>
					<textarea class="form__item" name="your_message" id="message"></textarea>
					<div class="btn-box">
						<button class="contact-btn form__submit form__submit--js">SEND</button>
					</div>
				</form>
			</div>

		</div>
		<div class="contact__map">
			<div class="gmaps gmaps--js" data-latitude="-25.099699" data-longitude="-50.159082" data-title="Mapa" data-pin="<%- utils.url %>assets/img/pin.png"></div>
		</div>

	</section>
