
	<footer class="footer">

		<div class="footer__box">
			<a class="footer__anchor" href="http://flize.com.br" title="Flize Tecnologia"><img src="<%- utils.url %>/assets/img/logo-flize.png"> / 2011 - 2016</a>
		</div>

	</footer>
