
	<section class="page gallery page--gallery page--main-color" id="gallery">
		<h1 class="page__title title--white">Gallery</h1>
		<div class="content--white">
			<div class="content">
				<div class="content--cf">
					<div class="cycle-slideshow gallery__block" data-cycle-timeout="4000" data-cycle-slides="> div">
				    <div class="slide__img" style="background-image:url(<%- utils.url %>/assets/img/slide-1.jpg)">
				    </div>

				    <div class="slide__img" style="background-image:url(<%- utils.url %>/assets/img/slide-2.jpg)">
				    </div>

				    <div class="slide__img" style="background-image:url(<%- utils.url %>/assets/img/slide-3.jpg)">
				    </div>
				</div>

				<div class="cycle-slideshow gallery__block"
				    data-cycle-fx="fade"
				    data-cycle-timeout="4000"
				    data-cycle-slides="> div"
				    >
				    <div>
				        <p class="gallery__description">Lorem ipsum dolor
				    </div>
				    <div>
				        <p class="gallery__description">Mel eu pertinax
				    </div>
				    <div>
				        <p class="gallery__description">Utinam electram pertinacia
				    </div>
				</div>


				</div>

			</div>
		</div>

	</section>
