	<section class="page home page--home" id="home">

		<div class="content--black">
			<div class="content">
				<h2 class="home-title">
					Lorem Ipsum
				</h2>
				<p class="home-info">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
			</div>
		</div>

	</section>
