	<section class="page home page--home" id="home">

		<div class="cycle-slideshow gallery-block" data-cycle-timeout="4000" data-cycle-slides="> div" data-cycle-pager=".home-pager">
			    <div class="home__img" style="background-image:url(<%- utils.url %>/assets/img/slide-1.jpg)">
			    	<p class="home-info">
						1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</p>
			    </div>

			    <div class="home__img" style="background-image:url(<%- utils.url %>/assets/img/slide-2.jpg)">
			    	<p class="home-info">
						2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</p>
			    </div>

			    <div class="home__img" style="background-image:url(<%- utils.url %>/assets/img/slide-3.jpg)">
			    	<p class="home-info">
						3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</p>
			    </div>
		</div>
		<div class="pager-box">
			<div class="home-pager"></div>
		</div>

	</section>
