
	<header class="header">

		<div class="container">

			<div class="logo">

				<h1 class="logo__title">
					<a class="logo__anchor" href="<%- utils.url %>" title="<%- utils.title %>">
						<%- utils.title %>
					</a>
				</h1>

			</div>

			<div class="menu" id="menu-center">
				<div class="menu__collapse menu__collapse--js"><i class="fa fa-navicon"></i></div>
				<nav class="menu__nav">
					<a class="menu__anchor menu__anchor--active smooth menu__item--active" href="#home" title="Home">Home</a>
					<a class="menu__anchor menu__anchor--active smooth" href="#about" title="About">About</a>
					<a class="menu__anchor menu__anchor--active smooth" href="#services" title="Services">Services</a>
					<a class="menu__anchor menu__anchor--active smooth" href="#gallery" title="Photos">Gallery</a>
					<a class="menu__anchor menu__anchor--active smooth" href="#contact" title="Contact">Contact</a>
				</nav>
			</div>

		</div><!-- container -->

	</header>
