	<section class="page services page--services" id="services">
		<h1 class="page__title title--white">Services</h1>
		<div class="content content--services">
			<div class="services-box">
				<p class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
				<div class="service__image" style="background-image:url(<%- utils.url %>/assets/img/services/service-1.jpg)"></div>
			</div>

			<div class="services-box">
				<p class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
				<div class="service__image" style="background-image:url(<%- utils.url %>/assets/img/services/service-2.jpg)"></div>
			</div>

			<div class="services-box">
				<p class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
				<div class="service__image" style="background-image:url(<%- utils.url %>/assets/img/services/service-3.jpg)"></div>
			</div>
		</div>
	</section>
