	<section class="services" id="services">

		<h3 class="services__head">Services</h3>

		<div class="services__boxes content">

			<div class="services__box">
				<div class="services__image">
					<img class="services__img" src="<%- utils.url %>/assets/img/service-1.jpg" alt="Service 01">
				</div>
				<h4 class="services__title">Service 01</h4>
				<div class="services__description">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>

			<div class="services__box">
				<div class="services__image">
					<img class="services__img" src="<%- utils.url %>/assets/img/service-2.jpg" alt="Service 02">
				</div>
				<h4 class="services__title">Service 02</h4>
				<div class="services__description">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>

			<div class="services__box">
				<div class="services__image">
					<img class="services__img" src="<%- utils.url %>/assets/img/service-3.jpg" alt="Service 03">
				</div>
				<h4 class="services__title">Service 03</h4>
				<div class="services__description">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>

		</div>

	</section>
